@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   font-family: 'Quicksand', sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
   line-height: 1.5;
   font-weight: 400;

   color: rgba(255, 255, 255, 0.87);
   background-color: #101a22;

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

body {
   margin: 0;
   width: 100%;
   min-width: 320px;
   min-height: 100vh;
}

@layer components {
   .categoryTitle {
      @apply text-[28px] font-semibold mt-3 hover:text-[#00A3FF];
   }

   .subCategory {
      @apply text-[18px] font-normal text-[#C5C5C5] mt-2 hover:text-[white];
   }
}
